{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <style>
        body{
                background-image: url('assets/images/gk1.jpg');
                font-size: 2rem;
               /* background-color: #DCDCDC;*/
            }
        .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #111;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                }

                .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
                }

                .sidenav a:hover {
                color: #f1f1f1;
                }

                .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
                }

                @media screen and (max-height: 450px) {
                .sidenav {padding-top: 15px;}
                .sidenav a {font-size: 18px;}
                }
                .contenu1{
                    margin-top:0%;
                }

    </style>
{% endblock %}
{% block body %}

    {#<div class="contenu1">
            <nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarColor01">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/connexion">ACCUEIL
                                {#<span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/registration">Inscription</a>
                            </li>
                            
                            {% if not app.user %}
                            <li class="nav-item">

                                <a class="nav-link" href="/connexion">Connexion</a>

                            </li>

                            {% else %}
                            <li class="nav-item">

                                <a class="nav-link" href="/deconnexion">Deconnexion</a>

                            </li>

                            {% endif %}

                        {# <li class="nav-item">
                                <a class="nav-link" href="#">Pricing</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">About</a>
                            </li>#}
                            {#<li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/deconnexion" role="button" aria-haspopup="true" aria-expanded="false">Deconnexion</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Separated link</a>
                                </div>
                            </li>
                        </ul>
                        {#<form class="form-inline my-2 my-lg-0">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </form>

                            <div id="mySidenav" class="sidenav">
                                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                                <a href="#">A propos</a>
                                <a href="#">Fournisseurs</a>
                                <a href="#">Clients</a>
                                <a href="#">Contact</a>
                            </div>

                            {#<h2>Animated Sidenav Example</h2>
                            <p>Click on the element below to open the side navigation menu.</p>
                            <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Menu</span>

                            <script>
                                function openNav() {
                                document.getElementById("mySidenav").style.width = "250px";
                                }

                                function closeNav() {
                                document.getElementById("mySidenav").style.width = "0";
                                }
                            </script>

                    </div>
            
            </nav>
    </div>    #}    

    <Title>Liste des utilisateurs</Title>
    <div class="container">
        <section class="section-login-form">
            <div class="container flex-center request-form-custum">
                <div class="login-form">

                    <div class="row">
                        <div class="col flex-center marge--">
                            <h2 class="titre">Liste des utilisateurs</h2>
                        </div>
                    </div>

                    <div id="dataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-striped table-bordered zero-configuration dataTable" id="DataTables_Table_0" role="grid" aria-describedby="DataTables_Table_0_info">
                                    <thead>
                                        <tr role="row">
                                            <th class="sorting_asc" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" >Id</th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" >Email </th>
                                            <th class="sorting" tabindex="0" aria-controls="DataTables_Table_0" rowspan="1" colspan="1" aria-label="Office: activate to sort column ascending" >Username</th>                                      
                                        </tr>
                                    </thead>
                                    <tbody> 
                                            
                                            {% for User in listeUser %}
                                                <tr><td>{{ User.id }}</td>                               
                                                    <td>{{ User.email }}</td>
                                                    <td>{{ User.username }}</td>
                                                </tr>
                                            {% endfor %}
                                        
                                                                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>
        </section>
    </div>   
        
{% endblock %}